{{#each byFour}}
<div class="row main-row-style">
  {{#each clans}}
  <div class="card cardCard" style="width: 18rem;">
    <div data-public={{isPublic}} data-location='{{location}}' data-id={{id}} data-name='{{name}}' class="firstLayerClickable">
      <!-- group image -->
      <figure class="figure">
        <img class="card-img-top figure-img" src='{{clanImage}}'
          alt="Card image cap">
      </figure>
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{blurb}}</p>
      </div>
      <!-- might remove the next 2 secions if they don't do anything -->
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Description of group here: Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas vero temporibus enim nisi?</li>
        <!-- <li class="list-group-item">Number of Members</li> -->
        <li class="list-group-item">Location: {{location}}</li>
      </ul>
    </div>
    <div class="Card-Body-Bottom card-body login only">
      <!-- <a href="#" id="follow-btn" class="card-link">Follow</a>
      <a href="#" id="unfollow-btn" class="card-link">Unfollow</a> -->
    </div>
  </div>
  {{/each}}
</div>
{{/each}}

<!-- More info Modal -->
<div class="modal fade modal-body" id="firstLayerModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered1 " role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="firstLayerTitle"></h5>
      </div>
      <!-- Modal Body -->
      <div class="modal-body">
        <!-- Scroll Modal -->
        <div id="firstLayerScroll" class="scrollmenu">
          <!-- <div class="card scroll-bar-item">
                        <div>Restaurant Name</div>
                        <div>Group Members</div>
                        <div class="modal-res-image"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                        <div>*****</div>
                        <div>$$$$$</div>
                    </div> -->
        </div>
        <!-- Modal Footer -->
        <div id='firstLayerFooter' class="modal-footer">
          <button type="button" class="btn btn-secondary" id="flagModButts">flag</button>
          <button id="followUnfollow" type="button" class="btn btn-primary"></button>
          <button type="button" class="btn btn-primary" id="expand-btn" data-toggle="button">Expand</button>
        </div>
      </div>
    </div>
</div>
</div>

<!-- Expanded Modal -->
<div class="modal fade" id="expanded-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered2" role="document">
        <div class="modal-content" id="modal-textfix">
            <div class="modal-header">
                <h5 class="modal-title" id="expandedModalTitle"></h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div id="expanded-scrollMenu" class="col-sm-11 scrollmenu2">

            <!-- <div class="row group-rest-info">
                          <div class="col-sm-3">
                              <div class="rest-img"><img class="img-fluid" src="https://img.freepik.com/free-vector/pizzeria-logo_1051-1483.jpg" /></div>
                          </div>
                          <div class="col-sm-7">
                              <div class="rest-name">Restaurant 1</div>
                              <div class="rest-address">Dummy addddrrreesssss</div>
                              <div class="rest-price">$$$</div>
                          </div>
                          <div class="col-sm-2">
                              <div class="rest-rating">*****</div>
                          </div>
                        </div> -->

          </div>
          <div class="col-sm-1">
            <i class="fa fa-lg fa-comments"></i>
            <br>
            <i id="usersListButton" class="fa fa-lg fa-users"></i>
            <br>
            <i id="shareButton" class="fa fa-lg fa-share-alt"></i>
            <br>
            <i class="fa fa-lg fa-paper-plane"></i>
            <br>
            <i class="fa fa-lg fa-bullhorn"></i>
            <br>
            <i id='addRestButton' class="fa fa-lg fa-plus"></i>
            <br>
            <i id="visiButton" class="fa fa-lg"></i>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="backto-scroll-modal" class="btn btn-primary">Back</button>
      </div>
    </div>
  </div>
</div>

<!-- Add restuarant modal -->
<div class="modal fade" id="addRest" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addRestTitle">Restaurant Search</h5>
      </div>
      <div id="addRestBody" class="modal-body">
        <small id="addRestSearchWarning">We already have an entry of this!</small>
        <form>
          <div class="form-group">
            <label class="col-form-label">Search Term:</label>
            <input type="text" placeholder:"Hotdog, Pizza, Burgers..." class="form-control" id="restSearch">
          </div>
        </form>
        <div id="restResult" class="scrollmenu2">
          <!-- results in some kind of scrollbar type -->
        </div>
      </div>
      <div class="modal-footer">
        <button id="addRestSearchButt" type="button" class="btn btn-primary">Search</button>
      </div>
    </div>
  </div>
</div>

<!-- insert intial ratings -->
<div id="addRestRating" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Intial Rating</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <div><label>Score:</label></div>
            <input id="addRestRatingScore" type="text">
            <div>
            <small id='addRestScoreWarning'>Have to input a score between 0-5!</small>
            </div>
          </div>
          <div class="form-group">
            <div><label>Comment:</label></div>
            <textarea id="addRestRatingComment" type="text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="addRestRatingButt" type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>

<!-- flag modal -->
<div class="modal fade" id="flagModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="flagModalTitle">Complaints/Concerns</h5>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label class="col-form-label">Reason for Flagging:</label>
            <input type="text" class="form-control" id="flag-reason">
          </div>
          <div class="form-group">
            <label class="col-form-label">Message:</label>
            <textarea class="form-control" id="flag-message"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Report</button>
      </div>
    </div>
  </div>
</div>



<!-- New Group modal -->

<div class="modal fade" id="new-group-modal" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newGroup">Create a new group</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Group Name:</label>
            <input type="text" class="form-control" id="group-input">
            <small id="groupnameWarningMessage">Must contain a group name</small>
          </div>
            <div class="form-group">
            <label for="message-text" class="col-form-label">Group Description:</label>
            <textarea class="form-control" id="groupdescription-input"></textarea>
            <small id="groupdescriptionWarningMessage">Must contain a group description</small>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Location:</label>
            <textarea class="form-control" id="location-input"></textarea>
            <small id="locationWarningMessage">Must contain a location</small>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Public/Private:</label>
            <select id="pub-priv-input">
              <option value="true">Public</option>
              <option value="false">Private</option>
            </select>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Group Image Url:</label>
            <textarea class="form-control" id="clan-img-input"></textarea>
            <small id="clanImageWarningMessage">Most contain an image URL</small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input class="btn btn-primary" type="submit" id="new-group-submit" value="Submit">
      </div>
    </div>
  </div>
</div>

<!-- users list modal -->
<div id='usersList' class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Users List</h5>
      </div>
      <div class="modal-body">
        <div>Admin:</div>
        <div id="usersAdmin"></div>
        <div>Member:</div>
        <div id="usersMember"></div>
      </div>
      <div class='modal-footer'>
        <button id="userListBack" class="btn btn-primary">Back</button>
      </div>
    </div>
  </div>
</div>

<!-- invite code generation per clan -->
<div id='inviteCodeGenerateModal' class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Users List</h5>
      </div>
      <div class="modal-body">
        <div>Invite Code:</div>
        <div id="inviteCodeMess"></div>
        <small>Use the invite code to auto-join!</small>
      </div>
      <div class='modal-footer'>
        <button id="inviteBack" class="btn btn-primary">Back</button>
      </div>
    </div>
  </div>
</div>

<script src="/javascript/share.js"></script>
<script src="/javascript/usersList.js"></script>
<script src="/javascript/index.js"></script>
<script src="/javascript/follow.js"></script>
<script src="/javascript/addRest.js"></script>
<script src="/javascript/firstLayer.js"></script>
<script src="/javascript/secondLayer.js"></script>
<script src="/javascript/visiButton.js"></script>
